


body {
    background-color: #f0f0f0; 
    font-family: Arial;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    width: 15vw;
    
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

td {
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd;
    margin: auto;
}

tr:nth-child(odd) {
    background-color: #e7f3fe; 
    color: #333; 
}

.lunch-break {
    background-color: #ffeb3b;
    text-align: center;
    font-weight: bold;
}
